<%- console.log(responseFromAPI) %>

<div>
    <div>
        ><img src="<%= responseFromAPI[0].image_url %>" alt="beer image" style="height:200px">
    </div>
    <h2>
        <%- responseFromAPI[0].name %>
    </h2>
    <p>
        <%- responseFromAPI[0].description %>
    </p>
    <p>
        <%- responseFromAPI[0].tagline %>
    </p>
    <ul>
        <h3>Food Pairing</h3>
        <% responseFromAPI[0].food_pairing.forEach(food => { %>
            <li><%= food %></li>
            <% }); %>
    </ul>
    <p>
        <%- responseFromAPI[0].brewers_tips %>
    </p>
</div>